<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" class="header">
    <div class="header-container">
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/images/surbee-logo.png" alt="Surbee Logo" class="logo-image"/>
            </a>
        </div>
        <div class="nav-links"
             th:if="${requestURI != '/login-social' && session.user == null}">
            <a href="/login-social" class="nav-link">로그인</a>
        </div>
        <div class="nav-links" th:if="${session.user != null}">
            <a href="/mypage" class="nav-link">마이페이지</a>
            <a href="/logout" class="nav-link">로그아웃</a>
        </div>
    </div>
</header>
</body>
</html>
