<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" class="header">
    <div class="header-container">
        <div class="logo-container">
            <a href="/index" class="logo-link">
                <img src="/images/surbee-logo.png" alt="Surbee Logo" class="logo-image"/>
            </a>
        </div>
        <div class="nav-links">
            <a href="/login" class="nav-link">로그인</a>
            <a href="/signup" class="nav-link">회원가입</a>
        </div>
    </div>
</header>
</body>
</html>